body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #ffffff;}

ul{list-style-type: none;}

.link {text-decoration: none;}

.link:hover,
.link:focus {color:#404BBF}

button{cursor: pointer;}
button:hover{ color: #404BBF;}

.page-header{
    color: #2E2F42;
    background-color: #ffffff;}


.tel{color: #434455;}
.mail{color: #434455;}


    .logo{color:  #2E2F42;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;}

    .web{color: #4D5AE5;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        width: 44px;}

        .nav{
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;}

        .solution{color: #120303;
            text-align: center;           
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07; /* 107.143% */
            letter-spacing: 0.02em;}

        .text-button{color:  #FFfffF; 
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.04em;}
        button{
            border-radius: 4px;
            background:  #4D5AE5;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);}


        .text-title { 
            color:  #2E2F42;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em;}


        .text-benefits{color: #434455;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;}

        .text-team{color: #2E2F42;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11; /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize;}


        .name-workers{color: #2E2F42;
            
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em;}

        .position-text{color: #434455;
            
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;}

        .text-portfolio{color:  #2E2F42;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11; /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize}

        .app-main{color:  #2E2F42;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em}

        .app-text{color: #434455;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;}

        .text-footer.{color: #f4f4fd;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;}

        




        .benefits {
        background-color: #fff;}

        .team{background-color: fff;}


        .portfolio {background-color: #ffffff;}